<% content_for :sidebar do %>
<div id="theCreators">
	ici texte explicatif	
	</div>
	<hr class="separator" />
	<!--
	<h3>Who we are</h3>
		<a class="tableLink odd" title="" href="/companies/382-noomia-studio">  
      <img alt="Noomia studio" class="photo" src="http://gravatar.com/avatar/3b5dc92f28984803f4a172953105634e?default=http%3A%2F%2Fwebshaker.be%2Fimages%2FnoAvatar.png" alt="Benjamin Pirson" />
      <h4>Benjamin Pirson </h4>
     <span class="underline">Art Director at Noomia studio</span>
      <hr class="clear">
		 </a>	
	-->	
    

<% end %>


<div id="mainContent"><%= display_flash %>
	<a class="right yellowTop" href="/submit">Submit new post in the shaker !</a>
	<h2>Page de travail Benjamin</h2>
	<p class="underTitle">Ici les découpes pour le dev</p>
	
	<p>Tableau My posts qui remplacera la page <strong>/profiles/posts</strong></p>
	<table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th class="alignCenter">Statut</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody id="employees_tbody">
          <tr class="" data-id="1">
         
            <td>Project</td>
            <td>
                  <a href="#">Euismod Venenatis Commodo Ligula Sit (lien vers fiche post)</a>
            </td>
						<td class="valided">Online</td>
            <td class="alignCenter">
                <a class="#" href="#" data-id="1">
                  <img src="/images/ico/edit.png"/>
                </a>
            </td>
          </tr>
          <tr class="odd" data-id="1">
         
            <td>News</td>
            <td>
                 Euismod Venenatis Commodo Ligula Sit 
            </td>
						<td class="pending">Pending</td>
            <td class="alignCenter">
                <a class="#" href="#" data-id="1">
                  <img src="/images/ico/edit.png"/>
                </a>
            </td>
          </tr>
                     <tr class="" data-id="1">
         
            <td>Project</td>
            <td>
                  <a href="#">Euismod Venenatis Commodo Ligula Sit (lien vers fiche post)</a>
            </td>
						<td class="valided">Online</td>
            <td class="alignCenter">
                <a class="#" href="#" data-id="1">
                  <img src="/images/ico/edit.png"/>
                </a>
            </td>
          </tr>
          <tr class="odd" data-id="1">
         
            <td>News</td>
            <td>
                  Euismod Venenatis Commodo Ligula Sit 
            </td>
						<td class="pending">Pending</td>
            <td class="alignCenter">
                <a class="#" href="#" data-id="1">
                  <img src="/images/ico/edit.png"/>
                </a>
            </td>
          </tr>
          <tr class="" data-id="1">
         
            <td>Event</td>
            <td>
                  Euismod Venenatis Commodo Ligula Sit 
            </td>
						<td class="refused">Refused</td>
            <td class="alignCenter">
                <a class="#" href="#" data-id="1">
                  <img src="/images/ico/edit.png"/>
                </a>
            </td>
          </tr> 
    </tbody>
  </table>
  <br/><br/>
  <p>La barre d'action a remplacer au dessus des fiches des posts qui sont en "pending" et en refused"</p>
  <a href="#" id="backShaker"><span class="pictos">[</span> Back to my posts</a>
  <div class="mee">
  	<span class="pending">Pending</span>
  	<a href="#" class="button right">Repost</a>
  	<hr class="clear"/>
  </div>
</div>
