<% content_for :sidebar do %>
<div id="theCreators">
	<h3>What is WebShaker?</h3>
	<p>WebShaker is born from the fact that it is complicated to make what is best in the Belgian web stand out.</p>
	<p>Smaller, talented agencies do not get much exposure due to the low visibility of their blog, Facebook page or Twitter profile.</p>
	<p>WebShaker allows everyone to publish interesting information, agencies to show their latest works or promoters to submit events.</p>
	<p>We want to concentrate the best of the Belgian web and promote it.</p>
	
	</div>
	<hr class="separator" />
	
	<h3>Who made this</h3>
		<a class="tableLink odd" title="" href="/companies/381-noomia-studio">
      <img alt="Noomia studio" class="photo" src="http://www.webshaker.be/system/avatars/381-noomia-studio/thumb/logoNS.jpg?1322478448" width="96x96" />
      <h4>Noomia studio </h4>
     <span class="underline">Web & Mobile Design</span>
      <hr class="clear">
		 </a>	
	
    

<% end %>


<div id="mainContent"><%= display_flash %>
	<h2>Frequently Asked Questions</h2>
	<span class="breath"></span>
		<h3>Who can sign up?</h3>
	<div class="question">
		
		<p>WebShaker was created for Belgian web users: agencies, employees, freelances and even students.</p>
	</div>
		<h3>Is it free?</h3>
	<div class="question">
		
		<p>Yes!</p>
	</div>	
	<h3>Why is Webshaker only in English?</h3>
	<div class="question">
	
	<p>English is the web’s main language. Our country is made up of several languages so we decided to use English for the sake of clarity.</p>
	</div>
	<h3>How can I participate?</h3>
	<div class="question">
		<img src="/images/faq-submit.png" alt="submit" class="left" />
		<p>Depending on your profile, you can join the “Shaker” and actively participate by posting relevant information.</p>
	</div>
	<h3>I have found something interesting, how can I save it?</h3>
	<div class="question">
		<img src="/images/faq-bookmarks.png" alt="bookmarks" class="left" />
		<p>Thanks to the corresponding button, you can bookmark any piece of information at any time.<br />
		All your favorite information is saved in “My bookmarks”. 
</p>
	</div>
	<h3>I would like to submit something but it does not fit in any “ingredient”, what can I do?</h3>
	<div class="question">
		
		<p>Do not hesitate to contact us at <a href="mailto:info@webshaker.be">info@webshaker.be</a> and we will try our best to help.</p>
	</div>
	

</div>