<div class="msg msg-error">
	<span class="img-error"></span>
	<p>Error message example</p>
	<span class="hide hide-error" title="Hide"></span>
	<hr class="spacer" />
</div>
<div class="msg msg-success">
	<span class="img-success"></span>
	<p>Success message example</p>
	<span class="hide hide-success" title="Hide"></span>
	<hr class="spacer" />
</div>
<div class="msg msg-warning">
	<span class="img-warning"></span>
	<p>Warning message example</p>
	<span class="hide hide-warning" title="Hide"></span>
	<hr class="spacer" />
</div>
<div class="msg msg-information">
	<span class="img-information"></span>
	<p>Information message example</p>
	<span class="hide hide-information" title="Hide"></span>
	<hr class="spacer" />
</div>


<div class="box">
	<div class="boxHeader">
		<a href="" title="New page" class="button-medium link-header">New page</a>
		<h2>Table</h2>
	</div>
	<div class="boxBody">
		<form method="post" action="">
			<table cellpadding="0" cellspacing="0" width="100%" class="sortable">
									
				<thead>
					<tr>
						<th width="10"><input type="checkbox" class="check_every_checkbox" /></th>

						<th>Page title</th>
						<th>Status</th>
						<th>Date created</th>
						<th>Author</th>
						<th class="action">Action</th>
					</tr>
				</thead>

				
				<tbody>
					<tr class="one">
						<td><input type="checkbox" /></td>
						<td><a href="#">Aorem ipsum dolor</a></td>
						<td>Published</td>
						<td>20.03.2010</td>
						<td><a href="#">John Doe</a></td>

						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>
					</tr>
					
					<tr class="two">
						<td><input type="checkbox" /></td>
						<td><a href="#">Zn ac libero nunc, vel congue neque</a></td>
						<td>Published</td>
						<td>18.03.2010</td>

						<td><a href="#">John Doe</a></td>
						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>
					</tr>
					
					<tr class="one">
						<td><input type="checkbox" /></td>
						<td><a href="#">Borem ipsum dolor</a></td>
						<td>Published</td>

						<td>20.03.2010</td>
						<td><a href="#">John Doe</a></td>
						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>
					</tr>
					
					<tr class="two">
						<td><input type="checkbox" /></td>
						<td><a href="#">Aaa In ac libero nunc, vel congue neque</a></td>

						<td>Published</td>
						<td>18.03.2010</td>
						<td><a href="#">John Doe</a></td>
						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>
					</tr>
					
					<tr class="one">
						<td><input type="checkbox" /></td>

						<td><a href="#">Lorem ipsum dolor</a></td>
						<td>Published</td>
						<td>20.03.2010</td>
						<td><a href="#">John Doe</a></td>
						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>
					</tr>

					
					<tr class="two">
						<td><input type="checkbox" /></td>
						<td><a href="#">In ac libero nunc, vel congue neque</a></td>
						<td>Published</td>
						<td>18.03.2010</td>
						<td><a href="#">John Doe</a></td>
						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>

					</tr>
					
					<tr class="one">
						<td><input type="checkbox" /></td>
						<td><a href="#">Lorem ipsum dolor</a></td>
						<td>Published</td>
						<td>20.03.2010</td>
						<td><a href="#">John Doe</a></td>

						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>
					</tr>
					
					<tr class="two">
						<td><input type="checkbox" /></td>
						<td><a href="#">In ac libero nunc, vel congue neque</a></td>
						<td>Published</td>
						<td>08.03.2010</td>

						<td><a href="#">John Doe</a></td>
						<td class="action"><a href="#" class="delete" title="Delete">Delete</a><a href="#" class="edit" title="Edit">Edit</a></td>
					</tr>
				</tbody>
				
			</table>
		
		
		<div class="left margin-top">
			<select>
				<option>Actions</option>

				<option>Delete</option>
				<option>Edit</option>
			</select>
			
			<input type="submit" value="Apply to selected" class="button-large" />
		</div>
		
		</form>
		
		
		<div class="right margin-top page-list">
			<a href="#">previous</a>

			<a href="#" class="active-page">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>

			<a href="#">next</a>
		</div>
		<hr class="spacer" />
		
	</div>
</div>

<div class="box left width49">
	<div class="boxHeader">
		<h2>Header</h2>
	</div>
	<div class="boxBody">
		<h3>Header 3</h3>
		<p><a href="http://vps.webinti.com/webshaker/images/malo_images/test.jpg" rel="facebox">Open modal box</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
		<h3>Header 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
	</div>

</div>
<div class="box right width49">
	<div class="boxHeader">
		<h2>Header</h2>						
	</div>
	<div class="boxBody">
		<h3>Header 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
		<h3>Header 3</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
	</div>

</div>
<hr class="spacer" />
<div class="box">
		<div class="boxHeader">
			<ul class="tabs">
			    <li><a href="#tab1">Gallery</a></li>
			    <li><a href="#tab2">Submit</a></li>
			</ul>
			<h2>Header</h2>
		</div>
		<div class="boxBody">
			<div class="tab_content" id="tab1">
				<h3>Header 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
				<h3>Header 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu metus orci. Cras aliquam congue tortor, a bibendum sapien pretium mollis. Duis diam ligula, porta eu porttitor et, tempus id ipsum. Suspendisse eget ornare nisl. Sed in dolor justo. Pellentesque urna turpis, dapibus suscipit varius vitae, lobortis et lectus. Phasellus condimentum nibh at sapien imperdiet elementum. Curabitur in tellus vitae diam tempor tristique. Aliquam commodo volutpat pretium. Praesent ullamcorper dui ac lectus porta suscipit facilisis nunc pharetra. Ut ips</p>
			</div>
			<div class="tab_content" id="tab2">
				<h3>Header 3</h3>
				<p>Test</p>
			</div>
		</div>
		

</div>
<hr class="spacer" />
<div class="box">
	<div class="boxHeader">
		<h2>Header</h2>
	</div>
	<div class="boxBody">
		<h3>Header 3</h3>
		<form method="post" action="">
			<p>
				<label>Small form input</label>
				<input type="text" class="text small-input" />
			</p>	
			<p class="error">
				<label>Medium form input ERROR</label>
				<input type="text" class="text medium-input" />
			</p>
			<p>
				<label>Large form input</label>
				<input type="text" class="text large-input" />
			</p>
			<p>
				<label>Checkboxes</label>
				<input type="checkbox" id="checkbox1" />
				<label class="normal" for="checkbox1">This is a checkbox</label>
				<input type="checkbox" id="checkbox2" />
				<label class="normal" for="checkbox2">This is an other checkbox</label>
			</p>
			<p>
				<label>Radio buttons</label>
				<input type="radio" name="radio" id="radio1" />
				<label class="normal" for="radio1">This is a radio button</label>
				<input type="radio" name="radio" id="radio2" />
				<label class="normal" for="radio2">This is an other radio button</label>
			</p>
			<p>
				<label>List of elements</label>
				<select>
					<option>First option</option>
					<option>Second option</option>
					<option>Third option</option>
				</select>
			</p>
			<p>
				<label>Text area</label>
				<textarea rows="15"></textarea>
			</p>
			<p>
				<input type="submit" value="Submit" class="button-medium" />
			</p>
		</form>			
	</div>
	
	
</div>