<p>
  Hello <%= @post.user.fullname %>
</p>
<p>
  We are happy to announce that your <a href="http://vps.webinti.com/webshaker/posts/<%= @post.id %>">post</a> has been accepted and is now published on WebShaker.
</p>