<p>
  Hi,
</p>
<p>
   <%= @worker.user.fullname %> wants to become an admin of <%= @company.name %> on WebShaker.
</p>
<p>
  <a href="http://vps.webinti.com/webshaker/companies/<%= @company.id %>/employees">Manage <%= @company.name %></a>
</p>