<p>
  Un nouveau post a été créé et est en attente de validation
</p>
<p>
  <%= @post.title %>
</p>
<p>
  <%= raw @post.content %>
</p>
<p>
  Par <%= @post.user.fullname %> le <%= @post.created_at %>
</p>
<p>
  <a href="/admin">Valider le post</a>
</p>