<p>
  <%= @worker.user.fullname %> wants to join your company on Webshaker!
</p>

<p>
  <a href="http://vps.webinti.com/webshaker/companies/<%= @company.id %>/employees">Accept/refuse this request</a>
</p>

