

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>mail</title>
</head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #f8f8f8;width: 100% !important;"><div id="fb-root"></div>


    	<center>
    	<br />
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #ffffff;height: 100% !important;width: 100% !important;">
            	<tr>

                	<td align="center" valign="top" style="border-collapse: collapse;">
                        <!-- // Begin Template Preheader \\ --><!-- // End Template Preheader \\ -->
                    	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #ffffff;">
                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Header \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #000000;border-bottom: 0;">
                                        <tr>
                                            <td class="headerContent" style="background-color:#dcdbd1; border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">

                                            
                                            	<!-- // Begin Module: Standard Header Image \\ -->
                                            	<div style="text-align: left;"><img src="/images/headerMail.png" alt="" border="0" style="margin: 0;padding: 0;outline: none;text-decoration: none;" width="600" height="81" id="headerImage"></div>
                                            	<!-- // End Module: Standard Header Image \\ -->
                                            
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Header \\ -->
                                </td>
                            </tr>

                        	<tr>
                            	<td align="center" valign="top" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \\ -->
                                	<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    	<tr>
                                        	<td valign="top" style="border-collapse: collapse;">
                                            	<table border="0" cellpadding="0" cellspacing="0" width="600">
                                                	<tr>
                                                    	<td valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #ffffff;">

                                                        
                                                            <!-- // Begin Module: Standard Content \\ -->
                                                            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td valign="top" style="border-collapse: collapse;">
		                                                              <div style="color: #676b6f;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">
		                                                                
																																	<p> Hello <%= @user.fullname %></p>
																																	<p>A new article has been posted on Webshaker!</p>																																													<p><%= link_to @item.title, @item %>
  																																<br/>by <%= @item.user.fullname %></p>
  																																
  																																<p style="font-size: 11px;">You can disable this notification in <a href="http://www.webshaker.be/users/edit">your account</a></p>
																																	
																																	
																														
																									

		                                                              </div>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!-- // End Module: Standard Content \\ -->
                                                        
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                        </tr>
                                       

                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                   	  </table>
                        <br>
                  </td>
                </tr>
            </table>
        </center>
</body>
</html>


