<p>
  Hi <%= @worker.user.fullname %>,
</p>
<p>
  Congratulations, your are now the administrator of <%= @company.name %> on Webshaker!
</p>
<p>
  Now, you can <a href="/companies/<%= @company.id %>/edit">Manage <%= @company.name %></a>
</p>

