<p>
  Hello <%= @post.user.fullname %>
</p>
<p>
  We are sorry but your post has been refused and will not be published on WebShaker.
</p>
<p>
  The message of the admin is :
</p>
<p>
  <%= @message %>
</p>

<p><a href="http://vps.webinti.com/webshaker/profiles/posts">You can modify your post and repost it</a></p>