	<hr class="separator"/>
	<div class="mea">
		<div class="preview">
			<img src="http://vps.webinti.com/webshaker/images/interviewBureau347.jpg" alt="Interview Bureau347" title="Interview Bureau347" />
			<span class="overview">
				<a href="http://vps.webinti.com/webshaker/posts/27-bureau347-on-stage-" class="button mea" title="Interview Bureau347"><span class="pictos">V </span>Watch video</a>
			</span>			
		</div>
		<a href="http://vps.webinti.com/webshaker/posts/27-bureau347-on-stage-" title="Interview Bureau347">Interview Bureau347</a>
	</div>
	
	<span class="breath"></span>
