<% if user_signed_in? %>
		 	
<% else %>
	<div class="signup">
	<p>Want to appear in the <strong>Directory</strong> ?</p>
	<a href="/users/sign_up">Sign up !</a>
</div>
<hr class="separator" />
<% end %>	


