<h3>Legend</h3>
<span class="online">Online</span> means that your post is accepted.
<hr class="clear"/>
<span class="breath"></span>
<span class="pending">Pending</span> means that your post needs to be validated before it goes online.
<hr class="clear"/>
<span class="breath"></span>
<span class="refused">Refused</span> means that your post is refused. You can modify and repost it !
