<div id="search">
	<form method="get" action="http://vps.webinti.com/webshaker/search">
	  	<label for="keywords">People, news, project, ...</label>
	  	<input type="text" name="keywords" id="keywords" value="" autocomplete="off" />
		<button  type="submit">Search</button>
	</form>
	<div id="results"></div>
</div>