<% if user_signed_in? %>
		 	
<% else %>
	<div class="signup">
	<p>Not yet a member on <strong>WebShaker</strong> ?</p>
	<a href="http://vps.webinti.com/webshaker/users/sign_up">Sign up !</a>
</div>
<hr class="separator" />
<% end %>	



