<div id="accountMenu">
	<a href="http://vps.webinti.com/webshaker/companies/<%= @company.id %>/edit" class="<%= current_acount_menu_selected("company", selected_menu) %>"><span class="pictos">U </span>Company</a>
	<a href="http://vps.webinti.com/webshaker/companies/<%= @company.id %>/employees" class="<%= current_acount_menu_selected("employees", selected_menu) %>"><span class="pictos">y </span>Employees</a>
</div>